@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato;
  }
  .menu-link {
    @apply uppercase text-gray-700 md:text-lg   md:capitalize md:text-white;
  }
  .atoms-button {
    @apply flex items-center gap-4 text-lg text-secondary transition-all hover:-translate-y-[1px] hover:opacity-90;
  }
  .container {
    @apply mx-auto px-4 md:px-8;
    max-width: 1200px;
  }
  .container-slim {
    @apply mx-auto px-4 md:px-8;
    max-width: 950px;
  }
}
